@font-face {
    font-family: 'iconfont';  /* Project id 3997484 */
    src: url('//at.alicdn.com/t/c/font_3997484_dyw1ghzg3wb.woff2?t=1680673509787') format('woff2'),
         url('//at.alicdn.com/t/c/font_3997484_dyw1ghzg3wb.woff?t=1680673509787') format('woff'),
         url('//at.alicdn.com/t/c/font_3997484_dyw1ghzg3wb.ttf?t=1680673509787') format('truetype');
  }

.iconfont {
    font-family: 'iconfont' !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}