* {
    margin: 0;
    padding: 0;
}

.box {
    position: relative;
    height: 600px;
}

.box .banner img {
    height: 600px;
    width: 100%;
}

.box .zhezhao {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.box .form {
    position: absolute;
    top: 100px;
    left: 50%;
    height: 350px;
    width: 504px;
    margin-left: -252px;
}

.box .form div {
    margin-bottom: 20px;
}

.box .form div:last-child {
    margin-bottom: 0px;
}

.box .form div input {
    box-sizing: border-box;
    width: 504px;
    height: 40px;
    border: 2px solid #808080;
    outline: none;
    background: none;
    color: #808080;
}

.box .form div textarea {
    box-sizing: border-box;
    width: 504px;
    height: 110px;
    border: 2px solid #808080;
    outline: none;
    background: none;
    color: #808080;
}

.box .form div.btn {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 2px solid #808080;
    margin: 0 auto;
}

.box .form div button {
    width: 200px;
    height: 40px;
    outline: none;
    background: none;
    color: #808080;
    border: none;
}